
.cinema {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    padding:2px 5px;
    background: #ebecf0;
}

.titre {
    color: black;
    font-size: 30px;
}

.adresse {
    color: darkgrey;
    font-size: 22px;
}

.zipville {
    color: darkgrey;
    font-size: 22px;
}

.cinemas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.titretable {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* grid ================================================ */

.Grid-cell img {
    width : 100%;
    height: 100%;
}

/* Base classes for all media */
.Grid {
    display   : flex;
    flex-wrap : wrap;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.Grid-cell {
    flex: 1;
    overflow: hidden;
    transition: .3s ease-in-out;

}

.Grid-cell img {
    transition: .3s ease-in-out;
}

.Grid-cell:hover img {
    transform: scale(1.1);
    opacity: 0.5;
    transition: .3s ease-in-out;
}

.Grid--flexCells>.Grid-cell {
    display: flex;
}

.Grid--top {
    align-items: flex-start;
}

.Grid--bottom {
    align-items: flex-end;
}

.Grid--center {
    align-items: center;
}

.Grid--justifyCenter {
    justify-content: center;
}

.Grid-cell--top {
    align-self: flex-start;
}

.Grid-cell--bottom {
    align-self: flex-end;
}

.Grid-cell--center {
    align-self: center;
}

.Grid-cell--autoSize {
    flex: none;
}

.Grid--fit>.Grid-cell {
    flex: 1;
}

.Grid--full>.Grid-cell {
    flex: 0 0 100%;
}

.Grid--1of2>.Grid-cell {
    flex: 0 0 50%;
}

.Grid--1of3>.Grid-cell {
    flex: 0 0 33.3333%;
}

.Grid--1of4>.Grid-cell {
    flex: 0 0 25%;
}

@media screen and (max-width: 600px) {
    .Grid-cell {
        flex: 0 0 100%;
        height: 150px;
        width: 100%;
    }
}
