
#searchbar{
    position:relative;
    width:1040px;
    height:auto;
    display:inline-block;
}
#searchbar .text{
    width:300px;
    float:left;
}
#searchbar .champ{
    width:600px;
    height:35px;
    float:left;
}
#searchbar .bouton{
    width: 100px;
    height: 35px;
    padding: 0;
    border:none;
    float:left;
}
